h4{
    font-family: 'Courier New', Courier, monospace;
}
section div {
  display: inline-block;
  border: black 1px solid;
  width: 50px;
  height: 50px;
  background-color: green;
  margin-top: 20px;
}
/* div:nth-of-type(even){
    background-color: green;

} */
section div:nth-child(odd) {
  background-color: yellow;
  margin-bottom: 25px;
}
p{
    font-size: large;
    color: white;
    display: inline-block;
    background-color: red;
    width: 70px;
    height: 25px;
    text-align: center;
    border: 2px solid darkred;   
}
p:nth-of-type(even){
    display: none;
}
section2 div{
    display: inline-block;
    background-color: green;
    width: 60px;
    height: 60px;
    padding: 40px;
    margin: 10px;
}
section2 div:nth-child(6n){
background-color: blue;
}
section2 div:nth-child(6n-1){
background-color: blue;
}
section2 div:nth-child(6n-2){
background-color: blue;
}
section0 div{
    background-color:lightblue;
    width: 50px;
    height: 50px;
display: inline-block;
margin: 10px;
border: solid 1px;
}

section3 div:nth-child(n+6){
    background-color: orange;
}
section4 div:nth-last-child(n+7){
    background-color: orange;
}
section5 div:nth-child(4n+4){
    background-color: orange;
}
section6 div:nth-child(n+7){
    background-color: orange;
}
section7 div:nth-last-child(2){
    background-color: orange;
}
